.svg-map-custom {
  height: 300px;
}

.svg-map__location_selected {
  fill: orange;
  cursor: pointer;
  outline: none !important;
}

.svg-map__location_default {
  fill: teal;
  cursor: pointer;
  outline: none !important;
}

.svg-map__location_default:hover {
  fill: lightblue;
}
